<section id="anmeldung">
    <div class="container">
        <div class="section-header">
            <h2><%=content.contactTitle%></h2>
        </div>
        <div class="card">
            <div class="card-grid">
                <div class="contact-info">
                    <h4><%=content.eventContactTitle%></h4>
                    <ul>
                        <li> <span><%=content.emailLabel%></span> <a style="color: var(--secondary-color); text-decoration: none; word-break: break-all;" href="mailto:info@lensterduathlon.lu"> info@lensterduathlon.lu</a> </li>
                        <li> <span><%=content.telLabel%></span> <a style="color: var(--secondary-color); text-decoration: none" href="tel:+352621374930"> (+352) 621 374 930 </a> </li>
                        <li> <span><%=content.responsibleEntityLabel%></span>  </li>
                        <div class="address-block">
                            Karibu a.s.b.l. <br>
                            18, rue Neuve <br>
                            L–6137 Junglinster <br>
                        </div>
                    </ul>
                </div>
                <div class="contact-info">
                    <h4><%=content.websiteContactTitle%></h4>
                    <ul>
                        <li> <span><%=content.emailLabel%></span> <a style="color: var(--secondary-color); text-decoration: none; word-break: break-all;" href="mailto:webmaster@lensterduathlon.lu?subject=Request%20concerning%20lensterduathlon.lu"> webmaster@lensterduathlon.lu</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>