


    <!-- Hero Section -->
    <section class="hero">
        <div class="hero-content">
            <h2>Lënster Duathlon </h2>
            <h3 class="event-date"> <%= new Intl.DateTimeFormat('de-DE').format(new Date(eventData.eventDate)) %> </h3>
            <p>Join us for an exciting combination of running and cycling in the heart of the city.</p>
            <a href="#register" class="btn"> <%= content.ctaButton %> </a>
        </div>
    </section>
    <!-- Countdown Section -->
    <section class="countdown">
        <div class="countdown-container">
            <div class="countdown-box">
                <div class="countdown-number">68</div>
                <div class="countdown-label"> <%= content.countDownTitleDays %> </div>
            </div>
            <div class="countdown-box">
                <div class="countdown-number">7</div>
                <div class="countdown-label"> <%= content.countDownTitleHours %> </div>
            </div>
            <div class="countdown-box">
                <div class="countdown-number">3</div>
                <div class="countdown-label"> <%= content.countDownTitleMinutes %> </div>
            </div>
            <div class="countdown-box">
                <div class="countdown-number">18</div>
                <div class="countdown-label"> <%= content.countDownTitleSeconds %> </div>
            </div>
        </div>
    </section>

    <!-- Sponsors Section -->
    <section class="sponsors" id="sponsors">
        <h2>Our Sponsors</h2>
        <div class="sponsors-slider">
            <div class="sponsors-track">

                <% sponsorImages.forEach(function (file){ %>
                    <div class="sponsor-item">
                        <a href="https://<%= file.split('-').splice(1).join('-').replace(/\.(jpg|jpeg|png|gif|bmp|webp|tiff|svg)$/i, '')%>.lu">
                            <img src="/public/images/<%= file %>" alt="<%= file %>" class="sponsor-logo">
                        </a>
                    </div>
                <% }) %>
            </div>
        </div>
        <div class="sponsors-navigation"></div>
    </section>

    <%
    let isLeft = true; // Variable to alternate card positioning
    Object.keys(content).forEach(key => {
    if (key.startsWith('sitePreviewTitle')) {
        const index = key.replace('sitePreviewTitle', '');
        const title = content[key];
        const descriptionKey = 'sitePreviewDescription' + index;
        const description = content[descriptionKey];
        const cardClass = isLeft ? 'left' : 'right';

        isLeft = !isLeft;
    %>
    <section class="info-section" id="<%=index%>">
        <% if (!isLeft) { %>
        <div class="info-image">
            <img src="/public/images/<%=index%>-card.jpg" class="info-image-<%=cardClass%>" alt="<%=index%>-card.jpg>">
        </div>
        <% } %>
        <div class="info-content">
            <h2 class="card-title card-text-content"><%= title %></h2>
            <div editable cms-id="<%=descriptionKey%>">
                <p class="card-description card-text-content"><%- description %></p>
            </div>
            <a href="/<%=lang%>/<%=index.replace(/([a-z])([A-Z])/g, '$1-$2').toLowerCase()%>" class="btn"> <%= content.sitePreviewButtonContent %> </a>
        </div>
        <% if (isLeft) { %>
        <div class="info-image">
            <img src="/public/images/<%=index%>-card.jpg" alt="<%=index%>-card.jpg>" class="info-image-<%=cardClass%>">
        </div>
        <% } %>
    </section>
    <% } });
    %>



