<!-- Footer -->
<footer>
    <div class="footer-container">
        <div class="footer-column">
            <h3>About the Event</h3>
            <p><%= content.footerNavContentAbout %></p>
        </div>
        <div class="footer-column">
            <h3><%= content.footerNavTitleDetails %></h3>
            <ul>
                <li><a href="#"><%= content.footerNavContentEntrySchedule %></a></li>
                <li><a href="#"><%= content.footerNavContentEntryRegister %></a></li>
                <li><a href="#"><%= content.footerNavContentEntryCourses %></a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3><%= content.footerNavTitleContact %></h3>
            <p><%= content.footerNavContentContact %></p>
            <p>info@duathlonevent.com</p>
            <p>(+123) 456 789 012</p>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="footer-column">
            <h3>Follow Us</h3>
            <p>Stay updated with the latest news and event information through our social media channels.</p>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Instagram</a></li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        <p>&copy; 2025 Duathlon Event. All rights reserved.</p>
    </div>
</footer>