<!-- Footer -->
<footer>
    <div class="footer-container">
        <div class="footer-column">
            <h3><%=content.footerAboutTitle%></h3>
            <p><%=content.footerAboutText%></p>
        </div>
        <div class="footer-column">
            <h3><%=content.footerInfoTitle%></h3>
            <ul>
                <li><a href="/<%=lang%>/race-info/#timetable"><%=content.footerInfoProgram%></a></li>
                <li><a href="/<%=lang%>/race-info/#registration"><%=content.footerInfoRegister%></a></li>
                <li><a href="#"><%=content.footerInfoCourses%></a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3><%=content.footerContactTitle%></h3>
            <p><%=content.footerContactText%></p>
            <p><a style="color: var(--secondary-color); text-decoration: none" href="mailto:info@lensterduathlon.lu">info@lensterduathlon.lu</a></p>
            <p><a style="color: var(--secondary-color); text-decoration: none" href="tel:+352621374930">(+352) 621 374 930</a></p>
            <div class="social-icons">
                <a href="https://www.facebook.com/p/Karibu-100076130240027/?locale=de_DE"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/karibu.jonglenster/"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="footer-column">
            <h3><%=content.footerFollowTitle%></h3>
            <p><%=content.footerFollowText%></p>
            <ul>
                <li><a href="https://www.facebook.com/p/Karibu-100076130240027/?locale=de_DE">Facebook</a></li>
                <li><a href="https://www.instagram.com/karibu.jonglenster/">Instagram</a></li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        <p><%=content.footerCopyright%></p>
    </div>
</footer>