<div class="logo-container">
        <div class="logo-text">
            <a href="/" style="text-decoration: none">
                <h1 style="font-size: 1.7rem">Lënster Duathlon</h1>
                <p>POWERED BY Agence Steve Greisch</p>
            </a>
        </div>
        <div class="desktop-logo">
            <a href="https://karibu.lu">
                <img src="/public/images/kb-logo.jpeg" alt="Logo" class="logo-image">
            </a>
        </div>
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <nav>
        <ul>
            <li><a href="/<%=lang%>/race-info">Info</a></li>
            <li class="dropdown">
                <button class="dropbtn">Wettkämpfe
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#">Langdistanz</a>
                    <a href="#">Mitteldistan</a>
                    <a href="#">Link 3</a>
                </div>
            </li>
            <li><a href="/<%=lang%>/archive">Archive</a></li>
            <li><a href="/<%=lang%>/sponsors">Sponsoren</a></li>
            <li><a href="/<%=lang%>/volunteers">Helfer</a></li>
            <li><a href="/<%=lang%>/contact">Kontakt</a></li>
        </ul>
    </nav>