<div class="logo-container">
        <div class="logo-text">
            <a href="/" style="text-decoration: none">
                <h1 style="font-size: 1.7rem">Lënster Duathlon</h1>
                <p>POWERED BY Agence Steve Greisch</p>
            </a>
        </div>
        <div class="desktop-logo">
            <a href="https://greisch-steve.foyer.lu">
                <img src="/public/images/sponsor-greisch-steve.foyer.png" alt="Logo" class="logo-image">
            </a>
        </div>
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <nav>
        <ul>
            <li><a href="/<%=lang%>/race-info">Info</a></li>
            <li class="dropdown">
                <button class="dropbtn">Strecken
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/<%=lang%>/races/kids-distance">Rennen 4 & 5</a>
                    <a href="/<%=lang%>/races/short-distance">Rennen 3</a>
                    <a href="/<%=lang%>/races/long-distance">Rennen 2</a>
                    <a href="/<%=lang%>/races/middle-distance">Rennen 1</a>
                </div>
            </li>
            <li><a href="/<%=lang%>/archive">Archive</a></li>
            <li><a href="/<%=lang%>/partners">Sponsoren</a></li>
            <li><a href="/<%=lang%>/volunteers">Helfer</a></li>
            <li><a href="/<%=lang%>/contact">Kontakt</a></li>
        </ul>
    </nav>

