<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <!-- Base styles that apply to all pages -->
    <link rel="stylesheet" href="/public/css/base/colors.css">
    <link rel="stylesheet" href="/public/css/base/reset.css">
    <link rel="stylesheet" href="/public/css/base/base.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">

    <script src="/public/js/main.js" defer></script>

    <!-- Conditional page-specific CSS -->
    <% if (pageStaticFiles) { %>
        <link rel="stylesheet" href="/public/css/pages/<%= pageStaticFiles %>.css">
        <script src="/public/js/pages/<%= pageStaticFiles %>.js" defer></script>
    <% } %>

</head>
<body>

<!-- Header Section -->
<header>
    <%- include('../partials/header.ejs') %>
</header>

<main>
    <!-- Add wrapper for page content -->
    <div class="page-content">
    <%- body %>
    </div> <!-- End of page-content -->
</main>
<footer>
    <%- include('../partials/footer') %>
</footer>
<!-- Mobile logo container at bottom of screen -->
<div class="edge-logo-container">
        <div class="house-shape">
            <img src="/public/images/kb-logo.jpeg" alt="Logo" class="mobile-logo-image">
        </div>
</div>
</body>
</html>
